<div id="home">

  <div class="container">
    
    <div class="row">

      <div class="col-10 offset-1">
            <div class="jumbotron">
                <h1 class="display-4">Slashdot Scraper</h1>
                <p class="lead">Oh boy oh boy here are some sweet pipin' hot tech news articles courteousy of slashdot.org</p>
                <hr class="my-4">
                <p>Click the scrape button to get some articles.</p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
            </div>
        
        <h2>Articles: </h2>
    
        
        <h3></h3>
   
        {{!-- <ul id="example-list" class="list-group"> --}}
          {{#each articleData}}
          {{!-- <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li> --}}
            <div class="card my-2" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">{{this.headline}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                    <a href="{{this.url}}" class="btn btn-primary">Article</a>
                </div>
            </div>
          {{/each}}
        {{!-- </ul> --}}
      
      </div>
    
    </div> {{!-- row div --}}
  
  </div> {{!-- container div --}}

</div> {{!-- home div --}}

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
<script src="/assets/javascript/app.js"></script>
