<div id="home">

  <div class="container">
    
    <div class="row">

      <div class="col-10 offset-1">
            <div class="jumbotron">
                <h1 class="display-4">Slashdot Scraper</h1>
                <p class="lead">Oh boy oh boy here are some sweet pipin' hot tech news articles courteousy of slashdot.org</p>
                <hr class="my-4">
                <p>Click the scrape button to get some articles.</p>
                <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
            </div>
        
        <h2>Articles: </h2>
    
        
        <h3></h3>
   
        {{!-- <ul id="example-list" class="list-group"> --}}
          {{#each articleData}}
          {{!-- <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li> --}}
            <div class="card my-2" style="width: 100%;" data-id="{{this.dataId}}">
                <div class="card-body">
                    <h5 class="card-title">{{this.headline}}</h5>
                    <p class="card-text">{{this.summary}}</p>
                    <a href="{{this.url}}" class="btn btn-primary">Article</a>
                    <button                     
                        class="btn btn-primary show-comments"
                        type="button"
                        data-id="{{this.dataId}}">
                            Comments
                    </button>
                    
                    {{!-- expanding comment div --}}
                    <div comment-div-id="{{this.dataId}}" class="collapse mt-3">
                        <div class="card card-body p-2">
                            <div class="row">
                                <div class="col-10">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                </div>
                                <div class="col-2">
                                    <button type="button" class="close align-middle" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    
                        <form class="mt-2 was-validated">
                            <div class="form-row">
                                <div class="col-10">
                                    <input data-id={{this.dataId}} type="text" class="form-control comment-input" placeholder="Add comment" required>
                                    <div class="invalid-feedback">
                                    Please add a comment.
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button data-id="{{this.dataId}}" class="btn w-100 btn-outline-primary float-right add add-comment">=></button>
                                </div>
                            </div>
                        </form>                   
                    </div>
                    
                </div>
            </div>
            {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
          {{/each}}
        {{!-- </ul> --}}
      
      </div>
      
    
    </div> {{!-- row div --}}
  
  </div> {{!-- container div --}}

</div> {{!-- home div --}}



